body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #fefefe;
  width: 1000px;
  margin: 0 auto;
}

a:link {
  color: royalblue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#nbviz {
  position: absolute;
  top: 90px;
  width: 100%;
}

#title {
  position: absolute;
  font-size: 30px;
  font-weight: 100;
  top: 20px;
}

#info {
  position: absolute;
  font-size: 11px;
  top: 18px;
  width: 300px;
  right: 0px;
  line-height: 1.2;
}

#chart-holder {
  widows: 100%;
  height: 750px;
  position: relative;
}

#chart-horder svg {
  width: 100%;
  height: 100%;
}
